// Font Variables
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// Font weights
$w300: 300;
$w400: 400;
$w500: 500;
$w700: 700;

// Font sizes
$f12: 12px;
$f14: 14px;
$f16: 16px;
$f18: 18px;
$f20: 20px;

// Colors
$white: #fff;
$gray: #66757f;
$theme: #1da1f2;

// Misc
$center: center;
$left: left;
$right: right;