#search-section {
    padding: 15px 20px;
    border-bottom: 1px solid $gray;
    h4 {
        text-transform: uppercase;
        text-align: $center;
        margin-top: 0;
        margin-bottom: 10px;
    }
}