#search-section {
    padding: 15px 20px;
    border-bottom: 1px solid $gray;
    background-color: $search-bg;
    h4 {
        text-transform: uppercase;
        text-align: $center;
        margin-top: 0;
        margin-bottom: 10px;
        font-family: $montserrat;
        font-weight: $w700;
        color: $white;
    }
}