/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/* Import Main SCSS File */
@import './styles/main.scss';

/* Import Other SCSS File */
@import './styles/header.scss';
@import './styles/footer.scss';
@import './styles/search.scss';
@import './styles/tweets.scss';

body {
    margin: 0;    
    font-family: $roboto;
    font-weight: $w400;
    font-size: $f16;
    color: $text;
    line-height: 1.8;
    background-color: $white;
}

*:focus {
    outline: none;
    text-decoration: none;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.form-group, .btn-group {
    width: 40%;
    float: $left;
    @include box-sizing(border-box);
    padding: 0 10px;
    .form-control {
        width: 100%;
        padding: 8px 15px;
        @include box-sizing(border-box);
        @include border-radius(3px);
        border: 1px solid $gray;
    }
    label {
        font-size: $f12;
        color: $text;  
        float: $right;    
        text-align: $right;  
        width: 50%;
    }
    button {
        background: $theme;
        margin: 0 10px;
        border: 0;
        padding: 10px 15px;
        @include border-radius(3px);
        cursor: pointer;
        font-size: $f14;
        width: 100%;
        &:hover {
            background-color: $text;
            color: $white;
        }
    }
}

.btn-group {
    width: 20%;
}

.error {
    color: $red;
    font-size: $f12;
    float: $left;
    font-weight: $w500;
}